<ul id="profile-menu">
    <li><a href="##BASE_URL##/profile/" ##MENU_ITEM_CLASS##>Perfil</a></li>
    ##SECTION_WRITER##
    <li><a href="##BASE_URL##/profile/blog/" ##MENU_ITEM_CLASS##>Redactor</a></li>
    ##SECTION_WRITER##
    ##SECTION_MODERATOR##
    <li><a href="##BASE_URL##/profile/forum/" ##MENU_ITEM_CLASS##>Moderador</a></li>
    ##SECTION_MODERATOR##
    ##SECTION_ADMIN##
    <li><a href="##BASE_URL##/profile/admin/" ##MENU_ITEM_CLASS##>Administrador</a></li>
    ##SECTION_ADMIN##
</ul>
