<div id="header-container">
    <div id="header-content">
        <ul id="header-menu" class="uppercase">
            <li><a href="blog.php">Blog</a></li>
        </ul>
        ##ACCESS_SECTION##
        <ul id="header-user" class="uppercase">
            ##USER_SECTION##
            <li><a href="profile.php?user=##USER_ID##">##USER_NAME##</a></li>
            <li><a href="logout.php">Cerrar sesión</a></li>
            ##USER_SECTION##

            ##SIGN_UP_SECTION##
            <li><a href="sign_up.php">Registrar</a></li>
            ##SIGN_UP_SECTION##

            ##LOGIN_SECTION##
            <li><a href="login.php">Iniciar Sesión</a></li>
            ##LOGIN_SECTION##
        </ul>
        ##ACCESS_SECTION##
    </div>
</div>
