<meta charset="UTF-8">
<title>##TITLE##</title>

<!-- Mobile specific meta goodness :) -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Page font -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

<!-- Material icons font -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Main style -->
<link href="##BASE_URL##/public/css/main.css" rel="stylesheet" type="text/css"/>
