<header id="page-header">
    <h1><a href="##BASE_URL##">Filosofía Joven</a></h1>
    <i id="menu-icon" class="material-icons">menu</i>
    <ul id="menu-content">
        <li><a href="##BASE_URL##/blog">Blog</a></li>
        <li><a href="##BASE_URL##/forum">Foro</a></li>
        ##SECTION_SESSION##
        <li><a href="##BASE_URL##/profile" class="material-icons" title="##NAME##">person</a></li>
        <li><a href="##BASE_URL##/session/logout" class="material-icons" title="Cerrar sesión">power_settings_new</a>
        </li>
        ##SECTION_SESSION##
        <li><a href="##BASE_URL##/session/sign_up">Registrar</a></li>
        <li><a href="##BASE_URL##/session/login">Iniciar sesión</a></li>
        ##SECTION_SESSION##
    </ul>
</header>
